#myvideo{
  margin-top:-11px;
  margin-left:-10px;
  width:1443px;
  height:300px;
  object-fit:cover;
}
h1{
  margin-left:40px;
}
.column{
  float:left;
  width:33%;
  text-align:left;
}
p{
  margin-left:40px;
}