#myvideo{
  margin-left:30px;
  width:720px;
  height:500px;
  object-fit:cover;
}
h1{
  margin-left:40px;
}
.column{
  float:left;
  width:33%;
  text-align:left;
}
p{
  margin-left:40px;
}
#doge{
  font-size: 150%;
  font-family: Comic Sans MS; 
  background-color: black;
  color: white;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 20px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
  transition-duration: 0.4s;
  border-top-left-radius: 26px;
  border-bottom-left-radius: 26px;
  border-top-right-radius: 26px;
  border-bottom-right-radius: 26px;
}

#doge:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
#one{
  text-decoration: none;
  color:white;
}