body{
	background-image:url(https://cdn.pixabay.com/photo/2016/10/20/18/35/earth-1756274_1280.jpg);
	background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 115%;
}
#one{
	font-size: 55px;
    background-color: rgba(0,0,0,0.3);
    color: white;
    margin-left: 300px;
    font-family:avenir next condensed;
}
.column{
    float: left;
    width: 50%;
    text-align: left;
}