.one{
	color: darkorange;
	font-size:200%;
	font-family: cursive;
}
.two{
	color: orange;
	font-size:200%;
	font-family: cursive;
}
.img{
    position: relative;right: -330px;
   
}
table,th,td{
	border: 5px solid whitesmoke;
	text-align: center;
	border-collapse: collapse;
}
.column{
	float: left;
	width: 49%;
	padding: 5px;
}
.row::after{
	clear: both;
	display: table;
}
th{
	background-color: rgba(143, 141, 142, 0.5);
}
.five{ 
	background-color: rgba(143, 141, 142, 0.5);
	color: white;
	margin-left: 200px;
}
td:hover{
	background-color: black;
	color: whitesmoke;
}
